.WeatherForecast {
  text-align: center;
  margin: 40 px 0;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 50px;
}

.WeatherForecast .forecast-time {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgb(30, 61, 115);
}

.WeatherForecast .forecast-temperature {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color:#1E3D73;
  font-weight: bold;
}

.WeatherForecast .forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}

.Weather .WeatherForecast canvas {
  display: block;
  margin: 20px auto;
}
